$font-family: 'Roboto', sans-serif;
$cor-fundo-navbar: #4228d8;
$cor-fundo-link-ativo: #f7c809;
$cor-texto-link: #dcd8f0;
$cor-navbar-toggler-fundo: #756caa;
$cor-navbar-toggler-texto: #a7880d;
$cor-titulo-secao: #756caa;
$cor-fundo-secao: #dcd8f0;
$cor-texto-colorido: #a7880d;
$cor-texto-colorido2: #f7c809;